# Optimized cancel/error handling

[gcode_macro OPTIMIZED_CANCEL_PRINT_ON_ERROR]
description: Cancels a failed virtual-sd print without parking or moving the toolhead.
gcode:
  {action_respond_info("Print error: cancelling without parking the toolhead.")}
  SET_GCODE_VARIABLE MACRO=_print_end_inner VARIABLE=cancelled VALUE="{True}"
  M104 S0
  M140 S0
  M141 S0
  OPTIMIZED_DISABLE_BOX_HEATER
  M107
  M106 P2 S0
  M106 P3 S0
  M106 P4 S0
  _KM_CANCEL_PRINT_BASE
  {% if printer.pause_resume.is_paused %}
    RESTORE_GCODE_STATE NAME=_KM_PAUSE_OVERRIDE_STATE MOVE=0
  {% endif %}
  G31
  CLEAR_PAUSE
