# Optimized filament prep and toolchange helpers

[gcode_macro OPTIMIZED_CUT_FILAMENT]
description: Faster cutter macro without the stock exit dwell.
gcode:
  _CG28
  M204 S10000
  {% if (printer.gcode_move.position.x) < 15 %}
    G1 X15 F9000
    G1 Y0 F9000
  {% endif %}
  M400
  G1 Y0 F15000
  G1 X15 F15000
  G1 X3 F8000
  M83
  G1 E-4 F1000
  G1 X4 F1000
  G1 X3 F8000
  G1 X15 F8000

[gcode_macro OPTIMIZED_UNLOAD_FILAMENT]
description: Box unload wrapper that also clears retained-tool state.
gcode:
    {% set box_available = printer["box_extras"] is defined %}
    {% set box_enabled = printer.save_variables.variables.enable_box|default(0)|int == 1 and box_available %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    {% if box_enabled %}
        {% set T = params.T|int %}
        CUT_FILAMENT T={T}
        OPTIMIZED_MOVE_TO_TRASH
        UNLOAD_T{T}
        G1 E25 F300
        M104 S0
        CLEAR_OOZE
        CLEAR_FLUSH
    {% endif %}

[gcode_macro OPTIMIZED_SELECT_INITIAL_TOOL]
description: Selects the initial box tool when the QIDI Box stack is enabled.
gcode:
    {% set tool = params.T|default(0)|int %}
    {% set tool_macro = "gcode_macro T" ~ tool %}
    {% set box_available = printer["box_extras"] is defined %}
    {% set box_enabled = printer.save_variables.variables.enable_box|default(0)|int == 1 and box_available %}
    {% if box_enabled and printer[tool_macro] is defined %}
        T{tool}
    {% endif %}

[gcode_macro OPTIMIZED_WIPE_AND_SCRAPE_NOZZLE]
description: Softens external-spool nozzle ooze, wipes at the chute, and scrapes at the rear bed without purging.
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set scrape_target = params.TARGET|default(km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else 140)|int %}
  {% set scrape_maximum = scrape_target + 10 %}
  {% set box_available = printer["box_extras"] is defined %}

  SET_PRINT_SUB_STATUS SUB_STATUS=clear_nozzle
  M104 S{scrape_target}
  OPTIMIZED_MOVE_TO_TRASH
  OPTIMIZED_WAIT_HOTEND S={scrape_target} STATUS=clear_nozzle
  TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MAXIMUM={scrape_maximum}
  M106 S255
  {% if box_available %}
    CLEAR_OOZE
    CLEAR_FLUSH
  {% endif %}
  _OPTIMIZED_HOME_Z_FROM_SAFE_POINT
  OPTIMIZED_MOVE_TO_TRASH
  G1 Y395 F6000
  G1 X188
  G1 Z-0.2 F480
  G91
  G1 X15 F200
  G1 Y2
  G1 X-15
  G1 Y-2
  G1 X15
  G90
  G2 I0.5 J0.5 F480
  G2 I0.5 J0.5
  G2 I0.5 J0.5
  G1 Z10
  G1 Y383 F12000
  M106 S0
  M106 P2 S0

[gcode_macro OPTIMIZED_START_PRINT_FILAMENT_PREP]
description: Handles print-start filament prep and optional same-tool reuse.
gcode:
  {% set tool = params.EXTRUDER|int %}
  {% if params.FIRSTLAYERTEMP is not defined or params.PURGETEMP is not defined %}
    {action_raise_error("OPTIMIZED_START_PRINT_FILAMENT_PREP requires FIRSTLAYERTEMP and PURGETEMP")}
  {% endif %}
  {% set first_layer_temp = params.FIRSTLAYERTEMP|int %}
  {% set purge_temp = params.PURGETEMP|int %}
  {% set bed_target = params.BEDTEMP|int %}
  {% set chamber_target = params.CHAMBER|default(0)|int %}
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set opt = printer["gcode_macro _tltg_optimized_globals"] %}
  {% set svv = printer.save_variables.variables %}
  {% set box_available = printer["box_extras"] is defined %}
  {% set box_enabled = svv.enable_box|default(0)|int == 1 and box_available %}
  {% set retained_tool = svv.retained_tool|default(-1)|int %}
  {% set retained_tool_ready = svv.retained_tool_ready|default(0)|int %}
  {% set retained_slot = svv.retained_slot|default('slot-1') %}
  {% set retained_filament_id = svv.retained_filament_id|default(-1)|int %}
  {% set retained_vendor_id = svv.retained_vendor_id|default(-1)|int %}
  {% set filament_present = printer['filament_switch_sensor filament_switch_sensor'].filament_detected %}
  {% set tool_slot = svv['value_t' ~ tool]|default('slot' ~ tool) %}
  {% set current_filament_id = svv['filament_' ~ tool_slot]|default(-1)|int %}
  {% set current_vendor_id = svv['vendor_' ~ tool_slot]|default(-1)|int %}
  {% set last_load_slot = svv.last_load_slot|default('slot-1') %}
  {% set slot_sync = svv.slot_sync|default('slot-1') %}
  {% set reuse_loaded = opt.keep_loaded_between_prints|int and box_enabled and retained_tool_ready and retained_tool == tool and filament_present and retained_slot == tool_slot and last_load_slot == retained_slot and slot_sync == retained_slot and current_filament_id == retained_filament_id and current_vendor_id == retained_vendor_id %}
  {% set reuse_nozzle_target = km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else ((km.start_extruder_preheat_scale * purge_temp)|round(0, 'ceil')|int) %}
  {% set scrape_target = km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else 140 %}
  {% set scrape_maximum = scrape_target + 10 %}

  G31
  SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0

  {% if reuse_loaded %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE={tool}
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"{retained_slot}"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE={retained_filament_id}
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE={retained_vendor_id}
    M118 Reusing retained filament on T{tool}
    M104 S{reuse_nozzle_target}
    {% if bed_target > 0 %}
      M140 S{bed_target}
    {% endif %}
    {% if chamber_target > 0 %}
      M141 S{chamber_target}
    {% endif %}
    G1 Z20 F480
    G1 X20 Y20 F15000
    {% if bed_target > 0 %}
      OPTIMIZED_WAIT_BED S={bed_target} STATUS=wait_bed_temp
    {% endif %}
    {% if chamber_target > 0 %}
      OPTIMIZED_WAIT_CHAMBER S={chamber_target} STATUS=wait_chamber_temp
    {% endif %}
    OPTIMIZED_MOVE_TO_TRASH
    OPTIMIZED_WAIT_HOTEND S={reuse_nozzle_target} STATUS=clear_nozzle
    M83
    G92 E0
    G1 E-0.2 F1800
    M106 S255
    CLEAR_OOZE
    CLEAR_FLUSH
    M106 S0
    SET_PRINT_SUB_STATUS SUB_STATUS=z_tilt_adjust
    Z_TILT_ADJUST
    M400
    SET_PRINT_SUB_STATUS SUB_STATUS=auto_bed_adjust
    SET_STEPPER_ENABLE STEPPER=extruder enable=0
    BED_MESH_CLEAR
    _OPTIMIZED_G29_HOME_Z_OR_FULL
    BED_MESH_CALIBRATE PROFILE=kamp
    SAVE_VARIABLE VARIABLE=profile_name VALUE='"kamp"'
    G4 P500
    SAVE_CONFIG_QD
    M1002 A1
    G1 X380 Y5 F20000
    ENABLE_ALL_SENSOR
  {% elif box_enabled %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    SET_PRINT_SUB_STATUS SUB_STATUS=change_filament
    BOX_PRINT_START EXTRUDER={tool} HOTENDTEMP={purge_temp}
    M400
    OPTIMIZED_EXTRUSION_AND_FLUSH PURGETEMP={purge_temp} CHAMBER={chamber_target}
    SET_PRINT_SUB_STATUS SUB_STATUS=clear_nozzle
    G1 Z20 F480
    OPTIMIZED_MOVE_TO_TRASH
    G1 E-0.2 F1800
    M104 S{scrape_target}
    {% if purge_temp > scrape_target %}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={purge_temp}
    {% endif %}
    CLEAR_OOZE
    CLEAR_FLUSH
    {% if purge_temp - 30 > scrape_target %}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={purge_temp - 30}
      CLEAR_OOZE
      CLEAR_FLUSH
    {% endif %}
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={scrape_maximum}
    CLEAR_OOZE
    CLEAR_FLUSH
    _OPTIMIZED_HOME_Z_FROM_SAFE_POINT
    OPTIMIZED_MOVE_TO_TRASH
    G1 Y395 F6000
    G1 X188
    G1 Z-0.2 F480
    G91
    G1 X15 F200
    G1 Y2
    G1 X-15
    G1 Y-2
    G1 X15
    G90
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5
    G2 I0.5 J0.5
    G1 Z10
    G1 Y383 F12000
    M106 S0
    M106 P2 S0
    {% if bed_target > 0 %}
      OPTIMIZED_WAIT_BED S={bed_target} STATUS=wait_bed_temp
    {% endif %}
    {% if chamber_target > 0 %}
      OPTIMIZED_WAIT_CHAMBER S={chamber_target} STATUS=wait_chamber_temp
    {% endif %}
    G1 X15 Y202.5 F36000
    SET_PRINT_SUB_STATUS SUB_STATUS=z_tilt_adjust
    Z_TILT_ADJUST
    M400
    SET_PRINT_SUB_STATUS SUB_STATUS=auto_bed_adjust
    SET_STEPPER_ENABLE STEPPER=extruder enable=0
    BED_MESH_CLEAR
    _OPTIMIZED_G29_HOME_Z_OR_FULL
    BED_MESH_CALIBRATE PROFILE=kamp
    SAVE_VARIABLE VARIABLE=profile_name VALUE='"kamp"'
    G4 P500
    SAVE_CONFIG_QD
    M1002 A1
    G1 X380 Y5 F20000
    ENABLE_ALL_SENSOR
  {% else %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    M118 Starting without QIDI Box filament prep
    {% if bed_target > 0 %}
      M140 S{bed_target}
    {% endif %}
    {% if chamber_target > 0 %}
      M141 S{chamber_target}
    {% endif %}
    OPTIMIZED_WIPE_AND_SCRAPE_NOZZLE TARGET={scrape_target}
    {% if chamber_target == 0 %}
      M106 P3 S255
    {% else %}
      M106 P3 S0
    {% endif %}
    {% if bed_target > 0 %}
      OPTIMIZED_WAIT_BED S={bed_target} STATUS=wait_bed_temp
    {% endif %}
    {% if chamber_target > 0 %}
      OPTIMIZED_WAIT_CHAMBER S={chamber_target} STATUS=wait_chamber_temp
    {% endif %}
    SET_PRINT_SUB_STATUS SUB_STATUS=z_tilt_adjust
    Z_TILT_ADJUST
    M400
    SET_PRINT_SUB_STATUS SUB_STATUS=auto_bed_adjust
    SET_STEPPER_ENABLE STEPPER=extruder enable=0
    BED_MESH_CLEAR
    _OPTIMIZED_G29_HOME_Z_OR_FULL
    BED_MESH_CALIBRATE PROFILE=kamp
    SAVE_VARIABLE VARIABLE=profile_name VALUE='"kamp"'
    G4 P500
    SAVE_CONFIG_QD
    M1002 A1
    G1 X380 Y5 F20000
    ENABLE_ALL_SENSOR
  {% endif %}

[gcode_macro OPTIMIZED_END_PRINT_FILAMENT_PREP]
description: Optionally keeps the current box filament loaded between prints.
gcode:
  {% set tool = params.T|default(-1)|int %}
  {% set opt = printer["gcode_macro _tltg_optimized_globals"] %}
  {% set svv = printer.save_variables.variables %}
  {% set box_available = printer["box_extras"] is defined %}
  {% set box_enabled = svv.enable_box|default(0)|int == 1 and box_available %}
  {% set filament_present = printer['filament_switch_sensor filament_switch_sensor'].filament_detected %}
  {% set tool_slot = svv['value_t' ~ tool]|default('slot' ~ tool) %}
  {% set tool_filament_id = svv['filament_' ~ tool_slot]|default(-1)|int %}
  {% set tool_vendor_id = svv['vendor_' ~ tool_slot]|default(-1)|int %}
  {% set keep_loaded = opt.keep_loaded_between_prints|int and box_enabled and tool >= 0 and filament_present %}

  {% if keep_loaded %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE={tool}
    SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=1
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"{tool_slot}"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE={tool_filament_id}
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE={tool_vendor_id}
    M118 Retaining filament on T{tool} for next print
  {% else %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    G1 E-3 F1800
    OPTIMIZED_UNLOAD_FILAMENT T={tool}
  {% endif %}

[gcode_macro OPTIMIZED_EXTRUSION_AND_FLUSH]
gcode:
    {% set purge_temp = params.PURGETEMP|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}
    {% set box_available = printer["box_extras"] is defined %}
    {% set box_enabled = printer.save_variables.variables.box_count|default(0)|int > 0 and printer.save_variables.variables.enable_box|default(0)|int == 1 and box_available %}
    {% if box_enabled %}
      SET_PRINT_SUB_STATUS SUB_STATUS=flush_filament
      OPTIMIZED_MOVE_TO_TRASH
      OPTIMIZED_WAIT_HOTEND S={purge_temp} STATUS=flush_filament
      M83
      M106 S0
      M106 P2 S0
      G1 E10 F300
      G1 E-2 F1800
      M106 S127
      M106 P2 S127
      {% for i in range(1,3) %}
        M400
        G1 E60 F300
        G1 E-2 F1800
      {% endfor %}
      M400
      M106 S255
      M106 P2 S255
      {% if chamber == 0 %}
        M106 P3 S255
      {% else %}
        M106 P3 S0
      {% endif %}
      OPTIMIZED_M1004
      G4 P5000
      CLEAR_OOZE
      CLEAR_FLUSH
    {% endif %}

    {% if printer['filament_switch_sensor filament_switch_sensor'].filament_detected == False %}
      M118 Filament run out
      PAUSE
      {% set box_available = printer["box_extras"] is defined %}
      {% set box_enabled = printer.save_variables.variables.enable_box|default(0)|int == 1 and box_available %}
      {% if box_enabled %}
        SET_PRINT_SUB_STATUS SUB_STATUS=box_filament_exhausted
      {% else %}
        SET_PRINT_SUB_STATUS SUB_STATUS=ext_filament_exhausted
      {% endif %}
    {% endif %}
