# Optimized motion helpers

[gcode_macro OPTIMIZED_MOVE_TO_TRASH]
gcode:
    {% set km = printer["gcode_macro _km_globals"] %}

    OPTIMIZED_G28 O X Y  # Conditional homing of XY axes (O parameter skips homing axes)
    M204 S10000  # Set high acceleration 10000mm/s for fast movement
    {% if (printer.gcode_move.position.y) > km.print_max[1] %}
        {% if (printer.gcode_move.position.x) > 150 or (printer.gcode_move.position.x) < 120 %}
            G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # Stage 1: First move Y 30mm forward to avoid
            G1 X116 F{km.travel_speed_xy}       # Stage 2: The X axis moves to the parked X coordinate
            G1 Y383 F{km.travel_speed_xy}
            G1 Y{km.park_y} F3500       # Stage 3: Y-axis moves to the final position of the trash can
            G1 X{km.park_x} F3500       # Stage 4: The X axis moves to the parked X coordinate
        {% endif %}
        G1 X{km.park_x} Y{km.park_y} F{km.travel_speed_xy}
    {% else %}
        G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # Stage 1: First move Y 30mm forward to avoid
        G1 X116 F{km.travel_speed_xy}       # Stage 2: The X axis moves to the parked X coordinate
        G1 Y383 F{km.travel_speed_xy}
        G1 Y{km.park_y} F3500       # Stage 3: Y-axis moves to the final position of the trash can
        G1 X{km.park_x} F3500       # Stage 4: The X axis moves to the parked X coordinate
    {% endif %}
