# Optimized print-start entry helpers

[gcode_macro OPTIMIZED_PRINT_START_HOME]
description: Preheats to the print-start probing temperature before homing.
gcode:
  {% set km = printer["gcode_macro _km_globals"] %}
  UPDATE_DELAYED_GCODE ID=_optimized_end_fan_cooldown_off DURATION=0
  M104 S{km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else 140}
  SET_PRINT_SUB_STATUS SUB_STATUS=tool_head_reset
  G28
