[gcode_macro EXTRUSION_AND_FLUSH]
gcode:
    {% set hotendtemp = params.HOTENDTEMP|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}
    {% if printer.save_variables.variables.box_count > 0 and printer["box_extras"] and printer.save_variables.variables.enable_box == 1 %}
      MOVE_TO_TRASH
      M109 S{hotendtemp}
      M83
      M106 S0
      M106 P2 S0
      G1 E10 F300
      G1 E-2 F1800
      M106 S127
      M106 P2 S127
      {% for i in range(1,3) %}
        M400
        G1 E60 F300
        G1 E-2 F1800
      {% endfor %}
      M400
      M106 S255
      M106 P2 S255
      {% if chamber == 0 %}
        M106 P3 S255
      {% else %}
        M106 P3 S0
      {% endif %}
      M1004
      G4 P5000
      CLEAR_OOZE
      CLEAR_FLUSH
    {% endif %}

    {% if printer['filament_switch_sensor filament_switch_sensor'].filament_detected == False %}
      M118 Filament run out
      PAUSE
    {% endif %}

[gcode_macro CUT_FILAMENT_1]
gcode:
  _CG28
  M204 S10000
  {% if (printer.gcode_move.position.x) < 15 %}
    G1 X15 F9000
    G1 Y0 F9000
  {% endif %}
  M400
  SET_OPERATING_CURRENT STEPPER=x  VALUE=1500
  G4 P10
  SET_OPERATING_CURRENT STEPPER=y  VALUE=1500
  G4 P100
  G1 Y0 F15000
  G1 X15 F15000
  G1 X3 F8000
  M83
  G1 E-4 F1000
  G1 X4 F1000
  G1 X3 F8000
  G1 X15 F8000
  M400
  SET_OPERATING_CURRENT STEPPER=x  VALUE=1200
  G4 P10
  SET_OPERATING_CURRENT STEPPER=y  VALUE=1200
  G4 P100

[gcode_macro CUT_FILAMENT_TC]
description: Toolchange cutter wrapper with probes and mode toggle.
variable_use_macro_cut: 1
gcode:
  {% set mode = params.MODE|default(use_macro_cut)|int %}
  {% set tool = params.T|default(0)|int %}
  {% if mode == 1 %}
    CUT_FILAMENT_1
  {% else %}
    CUT_FILAMENT T={tool}
  {% endif %}

[gcode_macro START_PRINT_FILAMENT_PREP]
description: Handles print-start filament prep and optional same-tool reuse.
gcode:
  {% set tool = params.EXTRUDER|int %}
  {% set hotendtemp = params.HOTENDTEMP|int %}
  {% set purgetemp = params.PURGETEMP|default(hotendtemp)|int %}
  {% set bedtemp = params.BEDTEMP|default(0)|int %}
  {% set chambertemp = params.CHAMBER|default(0)|int %}
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set svv = printer.save_variables.variables %}
  {% set box_enabled = svv.enable_box|default(0)|int == 1 and printer["box_extras"] %}
  {% set retained_tool = svv.retained_tool|default(-1)|int %}
  {% set retained_tool_ready = svv.retained_tool_ready|default(0)|int %}
  {% set retained_slot = svv.retained_slot|default('slot-1') %}
  {% set retained_filament_id = svv.retained_filament_id|default(-1)|int %}
  {% set retained_vendor_id = svv.retained_vendor_id|default(-1)|int %}
  {% set filament_present = printer['filament_switch_sensor filament_switch_sensor'].filament_detected %}
  {% set tool_slot = svv['value_t' ~ tool]|default('slot' ~ tool) %}
  {% set current_filament_id = svv['filament_' ~ tool_slot]|default(-1)|int %}
  {% set current_vendor_id = svv['vendor_' ~ tool_slot]|default(-1)|int %}
  {% set last_load_slot = svv.last_load_slot|default('slot-1') %}
  {% set slot_sync = svv.slot_sync|default('slot-1') %}
  {% set reuse_loaded = km.keep_loaded_between_prints|int and box_enabled and retained_tool_ready and retained_tool == tool and filament_present and retained_slot == tool_slot and last_load_slot == retained_slot and slot_sync == retained_slot and current_filament_id == retained_filament_id and current_vendor_id == retained_vendor_id %}
  {% set preheat_temp = km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else ((km.start_extruder_preheat_scale * purgetemp)|round(0, 'ceil')|int) %}
  {% set cooldown_temp = km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else 140 %}

  SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0

  {% if reuse_loaded %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE={tool}
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"{retained_slot}"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE={retained_filament_id}
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE={retained_vendor_id}
    M118 Reusing retained filament on T{tool}
    M104 S{preheat_temp}
    {% if bedtemp > 0 %}
      M140 S{bedtemp}
    {% endif %}
    {% if chambertemp > 0 %}
      M141 S{chambertemp}
    {% endif %}
    G1 Z20 F480
    G1 X20 Y20 F15000
    # Reuse startup must probe against a heat-soaked bed, just like fresh load.
    {% if bedtemp > 0 %}
      M190 S{bedtemp}
    {% endif %}
    {% if chambertemp > 0 %}
      M191 S{chambertemp}
    {% endif %}
    MOVE_TO_TRASH
    M109 S{preheat_temp}
    M83
    G92 E0
    G1 E-0.2 F1800
    M106 S255
    CLEAR_OOZE
    CLEAR_FLUSH
    M106 S0
    Z_TILT_ADJUST
    G29_ZSAFE
    M1002 A1
    G1 X380 Y5 F20000
    ENABLE_ALL_SENSOR
  {% else %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    BOX_PRINT_START EXTRUDER={tool} HOTENDTEMP={hotendtemp}
    M400
    EXTRUSION_AND_FLUSH HOTENDTEMP={hotendtemp} CHAMBER={chambertemp}
    G1 Z20 F480
    MOVE_TO_TRASH
    G1 E-0.2 F1800
    M104 S{cooldown_temp}
    {% if purgetemp > cooldown_temp %}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={purgetemp}
    {% endif %}
    CLEAR_OOZE
    CLEAR_FLUSH
    {% if purgetemp - 30 > cooldown_temp %}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={purgetemp - 30}
      CLEAR_OOZE
      CLEAR_FLUSH
    {% endif %}
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={cooldown_temp}
    CLEAR_OOZE
    CLEAR_FLUSH
    G1 Y395 F6000
    G1 X188
    G1 Z-0.2 F480
    G91
    G1 X15 F200
    G1 Y2
    G1 X-15
    G1 Y-2
    G1 X15
    G90
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5
    G2 I0.5 J0.5
    G1 Z10
    G1 Y383 F12000
    M106 S0
    M106 P2 S0
    {% if bedtemp > 0 %}
      M190 S{bedtemp}
    {% endif %}
    {% if chambertemp > 0 %}
      M191 S{chambertemp}
    {% endif %}
    G1 X15 Y202.5 F15000
    Z_TILT_ADJUST
    G29_ZSAFE
    M1002 A1
    G1 X380 Y5 F20000
    ENABLE_ALL_SENSOR
  {% endif %}

[gcode_macro END_PRINT_FILAMENT_PREP]
description: Optionally keeps the current box filament loaded between prints.
gcode:
  {% set tool = params.T|default(-1)|int %}
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set svv = printer.save_variables.variables %}
  {% set box_enabled = svv.enable_box|default(0)|int == 1 and printer["box_extras"] %}
  {% set filament_present = printer['filament_switch_sensor filament_switch_sensor'].filament_detected %}
  {% set tool_slot = svv['value_t' ~ tool]|default('slot' ~ tool) %}
  {% set tool_filament_id = svv['filament_' ~ tool_slot]|default(-1)|int %}
  {% set tool_vendor_id = svv['vendor_' ~ tool_slot]|default(-1)|int %}
  {% set keep_loaded = km.keep_loaded_between_prints|int and box_enabled and tool >= 0 and filament_present %}

  {% if keep_loaded %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE={tool}
    SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=1
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"{tool_slot}"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE={tool_filament_id}
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE={tool_vendor_id}
    M118 Retaining filament on T{tool} for next print
  {% else %}
    SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0
    SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
    SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
    SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
    G1 E-3 F1800
    UNLOAD_FILAMENT T={tool}
  {% endif %}

[gcode_macro M603]
description: filament unlode
gcode:
  SAVE_VARIABLE VARIABLE=retained_tool VALUE=-1
  SAVE_VARIABLE VARIABLE=retained_tool_ready VALUE=0
  SAVE_VARIABLE VARIABLE=retained_slot VALUE='"slot-1"'
  SAVE_VARIABLE VARIABLE=retained_filament_id VALUE=-1
  SAVE_VARIABLE VARIABLE=retained_vendor_id VALUE=-1
  SET_PRINT_MAIN_STATUS MAIN_STATUS=filament_unload_7
  {% set km = printer["gcode_macro _km_globals"] %}
  DISABLE_ALL_SENSOR
  {% set hotendtemp = params.S|default(250)|int %}
  _CG28
  M104 S{hotendtemp}

  MOVE_TO_TRASH
  M109 S{hotendtemp}
  M118 Heat up complete
  SET_PRINT_SUB_STATUS SUB_STATUS=cut_filamenting

  G92 E0
  G1 E-10 F300     #Return material 10mm

  {% if printer.save_variables.variables.box_count > 0 and printer["box_extras"]%}
    E_UNLOAD SLOT=16
  {% endif %}
  CUT_FILAMENT_1
  MOVE_TO_TRASH
  G92 E0
  G1 E-60 F300     #Return material 60mm
  SET_PRINT_SUB_STATUS SUB_STATUS=unload_filamenting

  M104 S0

  G1 X{km.park_x + 26} F10000
  G1 X{km.park_x + 8} F5000
  G1 X{km.park_x + 26} F10000
  G1 X{km.park_x + 8} F5000
  G1 X{km.park_x + 26} F10000
  G1 X{km.park_x + 8} F5000
  G1 X{km.park_x} F5000
  G1 Y380 F10000

  M106 S0
  M400
  _KM_BEEP_IF_AVAILABLE BEEPS={params.BEEPS|default(8)}
  M118 Unload finish
  SET_PRINT_MAIN_STATUS MAIN_STATUS=ready

[gcode_macro M604]
gcode:
    DISABLE_ALL_SENSOR
    {% set hotendtemp = params.S|default(250)|int %}
    {% set mode = params.T|default(0)|int %}
    {% set km = printer["gcode_macro _km_globals"] %}
    {% if mode == 0 %}
      SET_PRINT_MAIN_STATUS MAIN_STATUS=filament_load_6
      G28 O
      MOVE_TO_TRASH
    {% endif %}
    {% if printer.save_variables.variables.box_count > 0 and mode == 0 and printer["box_extras"]%}
      M118 check box filament
      E_LOAD SLOT=16 S={hotendtemp}
    {% endif %}
    {% if mode == 0 %}  #heating
      M104 S{hotendtemp}
      MOVE_TO_TRASH
      M109 S{hotendtemp}
      M118 Heat up complete
      SET_PRINT_SUB_STATUS SUB_STATUS=push_filamenting
    {% elif mode ==1 %}      #try to squeeze in
      G92 E0
      G1 E80 F400
      M400
    {% elif mode ==2 %}      #Confirm that there is filament extrusion to flush out the old filament
      SET_PRINT_SUB_STATUS SUB_STATUS=clean_filamenting
      MOVE_TO_TRASH
      G92 E0
      G1 E250 F300
      M400
      M106 S255

      G92 E0
      G1 E-4 F1000

      M104 S{km.start_extruder_probing_temp if km.start_extruder_probing_temp > 0 else 140}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={hotendtemp-30}

      G1 X{km.park_x + 26} F10000
      G1 X{km.park_x + 8} F5000
      G1 X{km.park_x + 26} F10000
      G1 X{km.park_x + 8} F5000
      G1 X{km.park_x + 26} F10000
      G1 X{km.park_x + 8} F5000
      G1 X{km.park_x} F5000
      {% if not printer.pause_resume.is_paused %}  # If not currently paused
        G1 Y380 F10000
      {% endif %}
      M400
      M106 S0
      M104 S0
      SET_PRINT_MAIN_STATUS MAIN_STATUS=ready
    {% endif %}
