# Copyright (C) 2022 Justin Schuh <code@justinschuh.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license.

# Kinematic Limit Check Macro - Verify that XYZ and extruder parameters are within safe limits
[gcode_macro _check_kinematic_limits]
gcode:
  {% set toolhead = printer.toolhead %}
  {% if params.X and (params.X|float < toolhead.axis_minimum.x or
                      params.X|float > toolhead.axis_maximum.x) %}
    {action_raise_error("X[%.3f] must be between %.3f and %.3f."
                        | format(params.X|float, toolhead.axis_minimum.x,
                                 toolhead.axis_maximum.x))}
  {% elif params.Y and (params.Y|float < toolhead.axis_minimum.y or
                        params.Y|float > toolhead.axis_maximum.y) %}
    {action_raise_error("Y[%.3f] must be between %.3f and %.3f."
                        | format(params.Y|float, toolhead.axis_minimum.y,
                                 toolhead.axis_maximum.y))}
  {% elif params.Z and (params.Z|float < toolhead.axis_minimum.z or
                        params.Z|float > toolhead.axis_maximum.z) %}
    {action_raise_error("Z[%.3f] must be between %.3f and %.3f."
                        | format(params.Z|float, toolhead.axis_minimum.z,
                                 toolhead.axis_maximum.z))}
  {% elif params.E and (params.E|float|abs > printer.configfile.settings[
                          "extruder"].max_extrude_only_distance) %}
    {action_raise_error("E[%.4f] exceeds max_extrude_only_distance[%.4f]."
       | format(params.E|float|abs, printer.configfile.settings[
                                      "extruder"].max_extrude_only_distance))}
  {% endif %}

# Intelligent homing macro - you can selectively homing specified axes, and the homing axes can be skipped
# Usage: LAZY_HOME [LAZY=<1|0>] [AXES=<axes_string>]
[gcode_macro lazy_home]
description: Homes the specified axes. If lazy is true, already homed axes
  are skipped.
  Usage: LAZY_HOME [LAZY=<1|0>] [AXES=<axes_string>]
gcode:
  # This is split apart so we can force the macro rename cache to be ready.
  LIST_MACROS SILENT=1
  _LAZY_HOME_INNER {rawparams}

[gcode_macro _lazy_home_inner]
gcode:
  # Find the real g28 command.
   {% set G28 = (printer["gcode_macro list_macros"].macros.g28|
                  default(["g28"],True))[-1] %}
  {% set axes = 'XYZ'|select('in', params.AXES|default("XYZ")|upper|list) %}
  {% if not axes %} # No axes means home everything.
    {% set axes = 'XYZ' %}
  {% endif %}
  {% if params.LAZY|default(1)|int %} # Prune out the already homed axes.
    {% set axes = axes|reject('in', printer.toolhead.homed_axes|upper)|join() %}
  {% endif %}

  {% if axes %}
    SET_PRINT_SUB_STATUS SUB_STATUS=homing
    {G28}{% for k in axes %}{' ' ~ k}{% endfor %}
  {% endif %}

# G28 homing command rewritten - Add Marlin style "O" parameter support to avoid repeated homing
# Usage: G28 [O] ... (The O parameter means skipping the homing axis)
[gcode_macro g28]
description: Wraps the G28 command to add the Marlin "O" parameter so that
  already homed axes will not be homed again. See the Klipper documentation on
  G28 for the behavior of the other parameters.
  Usage: G28 [O] ...
rename_existing: G28.6245197
gcode:
  {% set axes = 'XYZ'|select('in', params)|join() %}
  LAZY_HOME LAZY={('O' in params)|int}{%if axes%} AXES={axes}{%endif%}


[homing_override]
#axes:xy
gcode:
      {% set km = printer["gcode_macro _km_globals"] %}
      {% set settle_short = km.homing_settle_short|int %}
      {% set settle_long = km.homing_settle_long|int %}
      M400
      EXIT_ENFORCE_MODE STEPPER=x
      G4 P{settle_long}
      EXIT_ENFORCE_MODE STEPPER=y
      G4 P{settle_long}
    BED_MESH_CLEAR
    SET_VELOCITY_LIMIT ACCEL=500
    M220 S100
    SET_STEPPER_ENABLE STEPPER=extruder enable=0
    {% if 'X'  in params and  'Y'  in params  and 'Z'  in params  %}
      # Set the initial kinematic position to avoid soft limit conflicts
      SET_KINEMATIC_POSITION Z=280
      SET_KINEMATIC_POSITION X=150
      SET_KINEMATIC_POSITION Y=150
      SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
      SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
      G4 P{settle_short}
      G91
      G1 Z5 F480
      G1 X-5 F3000
      G1 Y5 F3000
      G90
      M400  # Wait for movement to complete
      SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
      SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
      G4 P{settle_short}
      G28.6245197 Y
      M400
      G91
      G1 Y20 F9000                                     # Relative coordinates retreat 20mm
      G90
      M400
      G28.6245197 X                                      # Execute X-axis homing
      M400
      G91
      G1 X-20 F9000                                  # Relative coordinates retreat 20mm
      G90
      M400
      SET_HOMING_STATE STEPPER=y VALUE=2               # Y axis switches to working current
      G4 P{settle_short}
      SET_HOMING_STATE STEPPER=x VALUE=2               # X axis switches to working current
      G4 P{settle_short}
      SET_HOMING_MODE  STEPPER=y  VALUE=2              # Y axis switches to normal working mode
      G4 P{settle_short}
      SET_HOMING_MODE  STEPPER=x  VALUE=2              # X-axis switches to normal working mode
      G4 P{settle_long}
      G90
      # Move to the center of the printing area and prepare for Z-axis return
      G1 X{km.print_max[0]/2} Y{km.print_max[1]/2} F12000
      M400
      G28.6245197 Z                                    # Execute Z-axis homing
      G91
      G1 Z10 F480                                      # Relative coordinates are raised by 10mm
      G90
      M400

    {% endif %}  # === All axis homing (XYZ) end ===

    # === Only XY axis homing === #
    {% if 'X' in params and  'Y' in params  and 'Z' not in params   %}
      # Set XY initial kinematic position
      SET_KINEMATIC_POSITION X=150
      SET_KINEMATIC_POSITION Y=150
      SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
      SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
      G4 P{settle_short}
      G91
      G1 X-5 F3000
      G1 Y5 F3000
      G90
      M400  # Wait for movement to complete
      SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
      SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
      G4 P{settle_short}
      G28.6245197 Y                                    # Perform Y-axis homing
      M400
      # Y-axis retreat and avoidance
      G91
      G1 Y100 F9000                                   # Back 20mm
      G90
      M400
      G28.6245197 X                                      # Execute X-axis homing
      M400
      # X-axis retreat and avoidance
      G91
      G1 X-100 F9000                                    # Back 20mm
      G90
      M400
    # Restore XY axis normal working mode
      SET_HOMING_STATE STEPPER=y VALUE=2               # Y axis switches to working current
      G4 P{settle_short}
      SET_HOMING_STATE STEPPER=x VALUE=2               # X axis switches to working current
      G4 P{settle_short}
      SET_HOMING_MODE  STEPPER=y  VALUE=2              # Y axis switches to normal working mode
      G4 P{settle_short}
      SET_HOMING_MODE  STEPPER=x  VALUE=2              # X-axis switches to normal working mode
      G4 P{settle_long}
    {% endif %}
     SET_VELOCITY_LIMIT ACCEL=10000
