# =============================================================================
# QIDI MAX4 dedicated macro library - QD (QIDI) customized function module
# =============================================================================

[gcode_macro MOVE_TO_TRASH]
gcode:
#    _CG28
    {% set km = printer["gcode_macro _km_globals"] %}

    G28 O X Y  # Conditional homing of XY axes (O parameter skips homing axes)
    M204 S10000  # Set high acceleration 10000mm/s for fast movement
    {% if (printer.gcode_move.position.y) > km.print_max[1] %}
        {% if (printer.gcode_move.position.x) > 150 or (printer.gcode_move.position.x) < 120 %}
            G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # Stage 1: First move Y 30mm forward to avoid
            G1 X116 F{km.travel_speed_xy}       # Stage 2: The X axis moves to the parked X coordinate
            G1 Y383 F{km.travel_speed_xy}
            G1 Y{km.park_y} F3500       # Stage 3: Y-axis moves to the final position of the trash can
            G1 X{km.park_x} F3500       # Stage 4: The X axis moves to the parked X coordinate
        {% endif %}
        G1 X{km.park_x} Y{km.park_y} F{km.travel_speed_xy}
    {% else %}
        G1 Y{km.park_y - 30} F{km.travel_speed_xy}  # Stage 1: First move Y 30mm forward to avoid
        G1 X116 F{km.travel_speed_xy}       # Stage 2: The X axis moves to the parked X coordinate
        G1 Y383 F{km.travel_speed_xy}
        G1 Y{km.park_y} F3500       # Stage 3: Y-axis moves to the final position of the trash can
        G1 X{km.park_x} F3500       # Stage 4: The X axis moves to the parked X coordinate
    {% endif %}

[gcode_macro ENABLE_ALL_SENSOR]
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_switch_sensor ENABLE=1
    {% if printer["filament_motion_sensor box_motion_sensor"] and printer.save_variables.variables.enable_box == 1 %}
        CLEAR_MOTION_DATA SENSOR=box_motion_sensor
    {% endif %}

[gcode_macro DISABLE_ALL_SENSOR]
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_switch_sensor ENABLE=0
    {% if printer["filament_motion_sensor box_motion_sensor"] %}
        SET_FILAMENT_SENSOR SENSOR=box_motion_sensor ENABLE=0
    {% endif %}

[gcode_macro CLEAR_NOZZLE]
gcode:
    {% set extruder_temp = params.HOTEND|default(250)|int %}
    {% set km = printer["gcode_macro _km_globals"] %}
    {% set prime_len = params.PRIME|default(km.clear_nozzle_prime)|float %}
    {% set purge_len = params.PURGE|default(km.clear_nozzle_purge)|float %}
    {% set retract_len = params.RETRACT|default(km.clear_nozzle_retract)|float %}

    G1 Z20 F480
    MOVE_TO_TRASH
    M400
    M109 S{extruder_temp}
    G92 E0
    G1 E{prime_len} F80
    G92 E0
    G1 E{purge_len} F300
    M400
    M106 S255

    G92 E0
    G1 E{-retract_len} F1000

    M104 S140
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={extruder_temp-30}

    SET_PRINT_SUB_STATUS SUB_STATUS=clear_nozzle

    M204 S10000

    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000
    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000

    G1 X180 F20000
    G1 Y395 F6000
    G1 X188 F6000
    G1 Z-0.2 F480

    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
    M106 S255

    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480

    G91
    G1 X15 F200
    G1 Y2 F200
    G1 X-15 F200
    G1 Y-2 F200
    G1 X15 F200
    G90

    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480
    G1 Z10
    G1 Y383 F10000
    MOVE_TO_TRASH
    M400  # Wait for all cleanup actions to complete

    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X180 F12000
    M400
    M118 Nozzle cleared

    G1 Y350 F12000
    M106 S0

    SET_PRINT_SUB_STATUS SUB_STATUS=""

#Calibrated hotbed process

[gcode_macro M4029]
gcode:
    {% set bedtemp = params.S|default(60)|float %}
    {% set restart = params.R|default(1)|int %}  # Added restart parameter, default value is 1 (restart)

    SET_PRINT_MAIN_STATUS MAIN_STATUS=leveling_calibration   # Set the main status to Calibration

    # === System initialization ===
    DISABLE_ALL_SENSOR  # Disable all sensors to avoid interference
#    M104 S140 # Set extruder temperature to 140C
    M140 S{bedtemp}  # Set bed temperature (user specified or default 60C)
    SAVE_VARIABLE VARIABLE=z_offset VALUE=0  # Reset Z offset value to 0
    SET_GCODE_OFFSET Z=0 MOVE=0  # Clear current G code Z offset

    M4031
    G28
    M400

    CLEAR_NOZZLE HOTEND=260
    M104 S140  # Reduce temperature to 140C
    CUT_FILAMENT_1
    SET_PRINT_SUB_STATUS SUB_STATUS=extruder_cooling
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=140
    CUT_FILAMENT_1
    Z_TILT_ADJUST
    G28
    G1 z10 F480
    BED_MESH_CALIBRATE

    G0 Z50 F480
    G0 X190 Y190 F9000
    M400  #
    SET_PRINT_MAIN_STATUS MAIN_STATUS=ready
    # TODO: Potentially rework to always save config, but only restart if restart ===1 ?
    M104 S0
    M140 S0
    M141 S0

    {% if restart == 1 %}
        SAVE_CONFIG  # Save configuration and restart
    {% else %}
        SAVE_CONFIG_QD  # Save configuration without restarting
        M104 S0
        M140 S0
        M141 S0
    {% endif %}

[gcode_macro M4031]
gcode:
    # === Status Management ===
    SET_PRINT_SUB_STATUS SUB_STATUS=z_titl_homing  # Set substate
    SET_STEPPER_ENABLE STEPPER=stepper_z enable=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 enable=1

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current * 0.8 }
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current * 0.8 }
    M400
    REVERSE_HOMING

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current}
    G91
    G1 Z-30 F480
    G90

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current * 0.8 }
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current * 0.8 }
    M400
    REVERSE_HOMING

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer.configfile.settings['tmc2209 stepper_z1'].run_current}
    G91
    G1 Z-30 F480
    G90

[gcode_macro M901]
gcode:
    {% set restart = params.R|default(1)|int %}  # Added restart parameter, default value is 1 (restart)

    SET_PRINT_MAIN_STATUS MAIN_STATUS=input_shaping
    M104 S0
    M140 S0
    M141 S0
    G28

    SET_PRINT_SUB_STATUS SUB_STATUS=resonance

    SHAPER_CALIBRATE
    SET_PRINT_MAIN_STATUS MAIN_STATUS=ready

    {% if restart == 1 %}
        SAVE_CONFIG  # Save configuration and restart
    {% else %}
        SAVE_CONFIG_QD  # Save configuration without restarting
    {% endif %}

[gcode_macro M290]
gcode:
    SET_GCODE_OFFSET Z_ADJUST={params.Z}  # Adjust the current Z-axis offset value

[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=caselight VALUE=1

[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0

[gcode_macro M1001]
description: Auto resonance tuning
variable_autotune_shapers: 'mzv'
gcode:
    SET_INPUT_SHAPER SHAPER_TYPE_X={autotune_shapers}
    SET_INPUT_SHAPER SHAPER_TYPE_Y={autotune_shapers}

#Print Z_OFFSET management macro

[gcode_macro M1002]
description: Manage Z offset
gcode:
    _km_apply_print_offset RESET={params.R|default(0)|int} SET={params.A|default(0)|int} SAVE={params.S|default(0)|int}

[gcode_macro G29.0]
description: Clear bed mesh data
gcode:
    {% if printer.bed_mesh %}
        BED_MESH_CLEAR
    {% endif %}

[gcode_macro M1004]
description: Enable air conditioner per settings
gcode:
    {% set Polar_cooler = printer.save_variables.variables.enable_polar_cooler|default(1) %}
    M106 P4 S{Polar_cooler}                    #Turn on the air conditioner according to settings

[gcode_macro M0]
gcode:
    PAUSE

[gcode_macro move_screw1]
gcode:
    G1 Z5 F600
    G1 X30 Y30 F12000
    G1 Z0 F300

[gcode_macro move_screw2]
gcode:
    G1 Z5 F600
    G1 X345 Y30 F12000
    G1 Z0 F300

[gcode_macro move_screw3]
gcode:
    G1 Z5 F600
    G1 X345 Y345 F12000
    G1 Z0 F300

[gcode_macro move_screw4]
gcode:
    G1 Z5 F600
    G1 X30 Y345 F12000
    G1 Z0 F300

[gcode_macro M4030]
gcode:
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0 MOVE=0
    M4031
    G28
    G1 X345 Y30 F9000
    G28 Z
    G1 Z0 F600

[gcode_macro M1006]
description: Set Z Cooridnate
gcode:
    G92 Z{params.Z}
